<!DOCTYPE html>
<html>
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <title> {% block title%} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
            <a class="nav-item nav-link {% if request.path == '/' %}active bg-light{% endif %} " href="{% url 'index' %}">Home</a>
            <a class = "nav-item nav-link {% if request.path == '/about' %} active bg-light{% endif %}" href="{% url 'about' %}">About</a>
            <a class = "nav-item nav-link {% if request.path == '/contact' %} active bg-light{% endif %}"href="{% url 'contact' %}">Contact</a>
            <a class = "nav-item nav-link {% if request.path == '/messages' %} active bg-light{% endif %}"href="{% url 'messages' %}">Messages</a>
        </div>
    </div>
        </nav>
    </header>

    {% block content %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>
